body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../assets/background_image.jpg");
}

canvas {
  border: 1px solid black;
}

.title-container {
  text-align: center;
}

h1 {
  font-weight: bold;
}

h3 {
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
}

img {
  width: 25px;
  height: 25px;
}

.left-right-arrows, .up-arrow, .down-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spacebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.instructions, .next-tetrimino {
  border: 5px solid #1B8057;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  width: 220px;
  font-size: 16px;
  margin: 10px;
  background-color: #EDE9A3;
}

.content-container {
  display: flex;
  align-items: center;
}

.tetris-board, #next-tetrimino-render {
  background-color: #FEF2A0;
}

.title {
  padding-bottom: 20px;
  font-size: 42px;
}

.score {
  padding: 10px;
  font-size: 16px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  position: relative;
  top: -7px;
  left: 160px;
  background-color: #EDE9A3;
}

.pause {
  text-align: center;
  width: 160px;
}

.modal-content {
  border: 5px solid #1B8057;
  border-radius: 35px;
  background-color: #EDE9A3;
  padding: 12px 30px 30px 30px;
}

footer {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.github {
  padding-right: 15px;
}

.linkedin {
  padding-left: 15px;
}
